@using miniFacebook.Models;
@model Applicationuser;

<div class="card" style="width:400px">
    <img class="card-img-top" src="@Model.photo" alt="Card image">
    <div class="card-body">
        <h4 class="card-title">@Model.UserName</h4>
        
    </div>
</div>