
.navbar {
    height: 80px;
    width: 100%;
    background: linear-gradient(#48649F, #3B5998, #3B5998);
    border-bottom: 1px solid #253a69;
}

.logo {
    position: absolute;
    height: 63px;
    width: 190px;
    left: 13%;
    padding-top: 15px;
}
.login_form {
    display: flex;
    position: absolute;
    font-family: verdana;
    left: 58%;
    top: 15px;

}
.container-input {
    position: relative !important;
}
    .login_form .email,
    .login_form .password {
        padding-left: 10px;
    }

        .login_form .email .font-email,
        .login_form .password .font-password {
            font-size: 13px;
            padding-bottom: 4px;
            color: white;
        }
        .container-input .font-email{
            position:absolute!important;
            top:0px!important;
            left:0!important;
        }
.container-input .font-password {
    position: absolute ;
    top: 0px ;
    left: 10vw ;
}
        .container-input .email{
            position:absolute;
            top:20px;
            left:0;
        }
.container-input .password {
    position: absolute;
    top: 20px;
    left: 10vw;
}

        .login_form .email input,
        .login_form .password input {
            height: 23px;
            width: 120px;
            padding-left: 5px;
            border: 1px solid black;
            outline: none;
            font-size:15px;
        }

    .login_form button {
        height: 24px;
        width: 70px;
        text-align:center;
        font-weight: 400;
        margin-left: 20vw;
        margin-top: 20px;
      font-size:14px;
        outline: none;
        color: white;
        cursor: pointer;
        background: #2d5bba;
        border: 1px solid #224285;
        
 
    }


        .login_form button:hover {
            background: #3B5998;
           
        }
.email:focus {
    font-size: 14px;
}
